---
title: 'Experimenting with Rust in Wasm'
outline: 'Attempting to use a Rust component compiled to Wasm'
tags: ['Rust', 'Wasm']
published: '3-28-22'
---

<!-- <script lang="ts"> -->
<!--   import Wasm from '$lib/components/wasm.svelte' -->
<!-- </script> -->

<!-- <Wasm /> -->
