---
title: Trying Out Parallax
outline: Attempting simple parallax in Svelte 
tags: ['Svelte', 'SvelteKit', 'Typescript', 'Design' ]
published: '3-28-22'
---

<script lang="ts">
  import Parallax from '$lib/components/parallax.svelte'
</script>

<Parallax />
