{
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
