:root {
	--blue-50: hsla(208, 92%, 90%, 1);
	--blue-100: hsla(208, 92%, 80%, 1);
	--blue-200: hsla(208, 92%, 70%, 1);
	--blue-300: hsla(208, 92%, 60%, 1);
	--blue-400: hsla(208, 92%, 50%, 1);
	--blue-500: hsla(208, 92%, 40%, 1);
	--blue-600: hsla(208, 92%, 30%, 1);
	--blue-700: hsla(208, 92%, 20%, 1);
	--blue-800: hsla(208, 92%, 10%, 1);
	--blue-900: hsla(208, 92%, 5%, 1);

	--blue-grey-50: hsla(208, 1%, 90%, 1);
	--blue-grey-100: hsla(208, 2%, 80%, 1);
	--blue-grey-200: hsla(208, 4%, 70%, 1);
	--blue-grey-300: hsla(208, 6%, 60%, 1);
	--blue-grey-400: hsla(208, 8%, 50%, 1);
	--blue-grey-500: hsla(208, 10%, 40%, 1);
	--blue-grey-600: hsla(208, 15%, 30%, 1);
	--blue-grey-700: hsla(208, 20%, 20%, 1);
	--blue-grey-800: hsla(208, 25%, 10%, 1);
	--blue-grey-900: hsla(208, 30%, 5%, 1);

	--yellow-50: hsla(54, 92%, 90%, 1);
	--yellow-100: hsla(54, 92%, 80%, 1);
	--yellow-200: hsla(54, 92%, 70%, 1);
	--yellow-300: hsla(54, 92%, 60%, 1);
	--yellow-400: hsla(54, 92%, 50%, 1);
	--yellow-500: hsla(54, 92%, 40%, 1);
	--yellow-600: hsla(54, 92%, 30%, 1);
	--yellow-700: hsla(54, 92%, 20%, 1);
	--yellow-800: hsla(54, 92%, 10%, 1);
	--yellow-900: hsla(54, 92%, 5%, 1);

	--yellow-grey-50: hsla(54, 1%, 90%, 1);
	--yellow-grey-100: hsla(54, 2%, 80%, 1);
	--yellow-grey-200: hsla(54, 4%, 70%, 1);
	--yellow-grey-300: hsla(54, 6%, 60%, 1);
	--yellow-grey-400: hsla(54, 8%, 50%, 1);
	--yellow-grey-500: hsla(54, 10%, 40%, 1);
	--yellow-grey-600: hsla(54, 15%, 30%, 1);
	--yellow-grey-700: hsla(54, 20%, 20%, 1);
	--yellow-grey-800: hsla(54, 25%, 10%, 1);
	--yellow-grey-900: hsla(54, 30%, 5%, 1);

	--red-50: hsla(355, 92%, 90%, 1);
	--red-100: hsla(355, 92%, 80%, 1);
	--red-200: hsla(355, 92%, 70%, 1);
	--red-300: hsla(355, 92%, 60%, 1);
	--red-400: hsla(355, 92%, 50%, 1);
	--red-500: hsla(355, 92%, 40%, 1);
	--red-600: hsla(355, 92%, 30%, 1);
	--red-700: hsla(355, 92%, 20%, 1);
	--red-800: hsla(355, 92%, 10%, 1);
	--red-900: hsla(355, 92%, 5%, 1);

	--red-grey-50: hsla(355, 1%, 90%, 1);
	--red-grey-100: hsla(355, 2%, 80%, 1);
	--red-grey-200: hsla(355, 4%, 70%, 1);
	--red-grey-300: hsla(355, 6%, 60%, 1);
	--red-grey-400: hsla(355, 8%, 50%, 1);
	--red-grey-500: hsla(355, 10%, 40%, 1);
	--red-grey-600: hsla(355, 15%, 30%, 1);
	--red-grey-700: hsla(355, 20%, 20%, 1);
	--red-grey-800: hsla(355, 25%, 10%, 1);
	--red-grey-900: hsla(355, 30%, 5%, 1);

	--text: hsla(0, 0%, 20%, 1);
	--white: hsla(0, 0%, 100%, 1);
}
