@import '/node_modules/@fontsource/eb-garamond/400.css';
@import '/node_modules/@fontsource/eb-garamond/variable.css';
@import '/node_modules/@fontsource/eb-garamond/variable-italic.css';
@import '/node_modules/@fontsource/oswald/400.css';
@import '/node_modules/@fontsource/oswald/variable.css';
@import '/node_modules/@fontsource/victor-mono/400.css';

:root {
	--serif: 'EB Garamond', serif;
	--sans: 'Oswald', sans-serif;
	--mono: 'Victor Mono', mono;

	@supports (font-variation-settings: normal) {
		--serif: 'EB GaramondVariable', serif;
		--sans: 'OswaldVariable', sans-serif;
	}
}

html,
.root {
	font-size: 100%;
	font-size: var(--step-0);
	font-weight: normal;
}

body,
.article {
	color: var(--text);
	font-family: var(--serif);
	font-size: var(--step-0);
	line-height: var(--space-0);
}

h5,
.h5 {
	margin: var(--space--2) 0 var(--space--6);
	font-family: var(--sans);
	font-size: var(--step-0);
	font-weight: normal;
	line-height: var(--space-0);
}

h4,
.h4 {
	margin: var(--space--2) 0 var(--space--6);
	font-family: var(--sans);
	font-size: var(--step-1);
	font-weight: normal;
	line-height: var(--space-0);
}

h3,
.h3 {
	margin: var(--space--2) 0 var(--space--6);
	font-family: var(--sans);
	font-size: var(--step-2);
	font-weight: normal;
	line-height: var(--space-1);
}

h2,
.h2 {
	margin: var(--space-0) 0 var(--space--4);
	font-family: var(--sans);
	font-size: var(--step-3);
	font-weight: 350;
	line-height: var(--space-2);
}

h1,
.h1 {
	margin: var(--space--4) 0 var(--space--4);
	font-family: var(--sans);
	font-size: var(--step-4);
	font-weight: 300;
	line-height: var(--space-3);
}

p {
	max-width: var(--text-block-width);
}

small,
.small {
	font-size: var(--step--1);
}

code {
	font-family: var(--mono);
	font-size: var(--step--1);
}

p code {
	padding: var(--space--7);
	background-color: var(--blue-grey-50);
	border-radius: 0.2rem;
}

code[class*='language-'],
pre[class*='language-'] {
	margin: var(--space-0) 0;
	font-family: var(--mono);
	font-size: var(--step--2);
	line-height: var(--space--3);
}

p + pre code {
	margin: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 0rem;
	margin-bottom: var(--step-1);
	line-height: var(--space-0);
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}
.small-caps {
	font-variant-caps: small-caps;
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: -1px 0;
}
a,
b,
i,
strong,
em,
small {
	line-height: 0;
}
sub,
sup {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
