:root {
	--step--2: clamp(0.69rem, calc(0.69rem + 0.02vw), 0.7rem);
	--step--1: clamp(0.83rem, calc(0.79rem + 0.2vw), 0.94rem);
	--step-0: clamp(1rem, calc(0.9rem + 0.49vw), 1.25rem);
	--step-1: clamp(1.2rem, calc(1.02rem + 0.91vw), 1.67rem);
	--step-2: clamp(1.44rem, calc(1.14rem + 1.52vw), 2.22rem);
	--step-3: clamp(1.73rem, calc(1.25rem + 2.4vw), 2.96rem);
	--step-4: clamp(2.07rem, calc(1.34rem + 3.65vw), 3.95rem);
	--step-5: clamp(2.49rem, calc(1.41rem + 5.41vw), 5.26rem);

	--baseline: 1.7;
	--space-0: calc(var(--baseline) * 1rem);

	--space--7: calc(var(--space-0) * (1 / 8));
	--space--6: calc(var(--space-0) * (1 / 4));
	--space--5: calc(var(--space-0) * (3 / 8));
	--space--4: calc(var(--space-0) * (1 / 2));
	--space--3: calc(var(--space-0) * (5 / 8));
	--space--2: calc(var(--space-0) * (3 / 4));
	--space--1: calc(var(--space-0) * (7 / 8));
	--space-1: calc(var(--space-0) * 1.25);
	--space-2: calc(var(--space-0) * 1.5);
	--space-3: calc(var(--space-0) * 2);
	--space-4: calc(var(--space-0) * 3);
	--space-5: calc(var(--space-0) * 4);
	--space-6: calc(var(--space-0) * 5);
	--space-7: calc(var(--space-0) * 6);
	--space-8: calc(var(--space-0) * 7);

	--text-block-width: 60ch;

	--shadow-color: 208 20% 20%;
	--shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
		2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
		4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
		7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
		11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
		17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
		25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
