/* Write your global styles here, in PostCSS syntax */
@import '/node_modules/normalize.css';
@import './styles/variables.postcss';
@import './styles/colors.postcss';
@import './styles/typography.postcss';
@import './styles/prism.postcss';
