@import 'tailwindcss';

@theme {

	--font-family-serif: 'EB Garamond Variable', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-family-sans: 'Oswald Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-family-mono: 'JetBrains Mono Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--font-size-*: initial;
	--font-size-xs: clamp(0.6331rem, 0.6424rem + -0.0119vi, 0.64rem);
	--font-size-sm: clamp(0.8rem, 0.7847rem + 0.0765vi, 0.844rem);
	--font-size-base: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
	--font-size-lg: clamp(1.25rem, 1.1632rem + 0.4341vi, 1.4996rem);
	--font-size-xl: clamp(1.5625rem, 1.4107rem + 0.7591vi, 1.999rem);
	--font-size-2xl: clamp(1.9531rem, 1.7056rem + 1.2375vi, 2.6647rem);
	--font-size-3xl: clamp(2.4414rem, 2.0551rem + 1.9315vi, 3.552rem);
	--font-size-4xl: clamp(3.0518rem, 2.4663rem + 2.9271vi, 4.7348rem);
	--font-size-5xl: clamp(3.8147rem, 2.9462rem + 4.3423vi, 6.3115rem);
	--font-size-6xl: clamp(4.7684rem, 3.5006rem + 6.3389vi, 8.4132rem);
	--font-size-7xl: clamp(5.9605rem, 4.1328rem + 9.1381vi, 11.2149rem);
	--font-size-8xl: clamp(7.4506rem, 4.8423rem + 13.0414vi, 14.9494rem);
	--font-size-9xl: clamp(9.3132rem, 5.6213rem + 18.4597vi, 19.9276rem);

	--spacing-0_5: clamp(0.125rem, 0.125rem + 0vi, 0.125rem);
	--spacing-1: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
	--spacing-1_5: clamp(0.375rem, 0.3533rem + 0.1087vi, 0.4375rem);
	--spacing-2: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
	--spacing-2_5: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
	--spacing-3: clamp(0.875rem, 0.8315rem + 0.2174vi, 1rem);
	--spacing-3_5: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
	--spacing-4: clamp(1.25rem, 1.1848rem + 0.3261vi, 1.4375rem);
	--spacing-5: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
	--spacing-6: clamp(1.75rem, 1.663rem + 0.4348vi, 2rem);
	--spacing-7: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
	--spacing-8: clamp(2.25rem, 2.1413rem + 0.5435vi, 2.5625rem);
	--spacing-9: clamp(2.5rem, 2.3913rem + 0.5435vi, 2.8125rem);
	--spacing-10: clamp(2.75rem, 2.6196rem + 0.6522vi, 3.125rem);
	--spacing-11: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
	--spacing-12: clamp(3.5rem, 3.3478rem + 0.7609vi, 3.9375rem);
	--spacing-14: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
	--spacing-16: clamp(5rem, 4.7826rem + 1.087vi, 5.625rem);
	--spacing-20: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);
	--spacing-24: clamp(7rem, 6.6957rem + 1.5217vi, 7.875rem);
	--spacing-28: clamp(8rem, 7.6522rem + 1.7391vi, 9rem);
	--spacing-32: clamp(9rem, 8.6087rem + 1.9565vi, 10.125rem);
	--spacing-36: clamp(10rem, 9.5652rem + 2.1739vi, 11.25rem);
	--spacing-40: clamp(11rem, 10.5217rem + 2.3913vi, 12.375rem);
	--spacing-44: clamp(12rem, 11.4783rem + 2.6087vi, 13.5rem);
	--spacing-48: clamp(13rem, 12.4348rem + 2.8261vi, 14.625rem);
	--spacing-52: clamp(14rem, 13.3913rem + 3.0435vi, 15.75rem);
	--spacing-56: clamp(15rem, 14.3478rem + 3.2609vi, 16.875rem);
	--spacing-60: clamp(16rem, 15.3043rem + 3.4783vi, 18rem);
	--spacing-64: clamp(18rem, 17.2174rem + 3.913vi, 20.25rem);
	--spacing-72: clamp(20rem, 19.1304rem + 4.3478vi, 22.5rem);
	--spacing-80: clamp(24rem, 22.9565rem + 5.2174vi, 27rem);
	--spacing-96: clamp(28rem, 26.7826rem + 6.087vi, 31.5rem);


	--width-3xs: clamp(16rem, 15.3043rem + 3.4783vi, 18rem);
	--width-2xs: clamp(18rem, 17.2174rem + 3.913vi, 20.25rem);
	--width-xs: clamp(20rem, 19.1304rem + 4.3478vi, 22.5rem);
	--width-sm: clamp(24rem, 22.9565rem + 5.2174vi, 27rem);
	--width-md: clamp(28rem, 26.7826rem + 6.087vi, 31.5rem);
	--width-lg: clamp(32rem, 30.6087rem + 6.9565vi, 36rem);
	--width-xl: clamp(36rem, 34.4348rem + 7.8261vi, 40.5rem);
	--width-2xl: clamp(42rem, 40.1739rem + 9.1304vi, 47.25rem);
	--width-3xl: clamp(48rem, 45.913rem + 10.4348vi, 54rem);
	--width-4xl: clamp(56rem, 53.5652rem + 12.1739vi, 63rem);
	--width-5xl: clamp(64rem, 61.2174rem + 13.913vi, 72rem);
	--width-6xl: clamp(72rem, 68.8696rem + 15.6522vi, 81rem);
	--width-7xl: clamp(80rem, 76.5217rem + 17.3913vi, 90rem);

	@keyframes float {
		50% {
			transform: translateY(5%);
		}
	}

	@keyframes grow {

		50% {
			transform: scale(1.025) translateY(-1.25%);
		}

	}

	@keyframes wiggle {
		wiggle: {

			0%,
			100%: {
				transform: rotate(-3deg) scale(1.1);
			}

			50%: {
				transform: rotate(3deg) scale(1.1);
			}
		}
	}

	@keyframes letter-bounce {
		0%: {
			bottom: 0;
		}

		30%: {
			bottom: 0.15em;
		}

		60%: {
			bottom: -0.05em;
		}

		100%: {
			bottom: 0;
		}
	}

	@keyframes move-bg {
		to: {
			background-position: -400% 0;
		}
	}

	--animate-wiggle: wiggle 0.5s 1;
	--animate-letter-bounce: letter-bounce 0.3s forwards;
	--animate-move-bg: move-bg 15s infinite linear;
	--animate-move-bg-fast: move-bg 4s infinite linear;

	--animate-float: float 3s cubic-bezier(.5, 0, .5, 1) infinite;
	--animate-grow: grow 3s cubic-bezier(.5, 0, .5, 1) infinite;


}

@layer utilities {
	.small-caps {
		font-variant: small-caps;
		font-size: 105%;
	}

	.em-dash {
		letter-spacing: 0.1em;
	}
}

@layer utilities {
	.clip-path {
		clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
	}
}
